<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <meta charset="utf-8">
        <title>Howdy!</title>
    </head>
    <body>
		Hey, who u?
	<form action=”process” method=”post”>
	{% csrf_token %}
	Talk:
    	<input type="radio" name="talk" id="choice1" value="True">True
		<input type="radio" name="talk" id="choice2" value="False">False</br>
	Sleep:
    	<input type="radio" name="sleep" id="choice1" value="True">True
		<input type="radio" name="sleep" id="choice2" value="False">False</br>
	Drink:
    	<input type="radio" name="drink" id="choice1" value="True">True
		<input type="radio" name="drink" id="choice2" value="False">False</br>
	Child:
    	<input type="radio" name="child" id="choice1" value="True">True
		<input type="radio" name="child" id="choice2" value="False">False</br>
 	Name:
	<input type="text" name="name" /> <br />
    <input type="submit" value="Vote" />
</form>
    </body>
</html>