<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <meta charset="utf-8">
        <title>Howdy!</title>
    </head>
    <body>
        <h1>Howdy! I am Learning Django!</h1>
        <form>
        	<input type="radio" name="choice" id="choice" value="HI">HI
        	<input type="radio" name="choice1" id="choice1" value="BYE">BYE
        </form>
     <a href="/about/">About Me</a>
    </body>
</html>