{% load staticfiles %}
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/seats.css' %}">
    <meta charset="utf-8">
    <title>Howdy!</title>
</head>
<body>
    <div>
            <div class="page-header">
        <h1><a href="/">What Kind Of Flier Are You?</a></h1>
        </div>
        <img src="{%static 'Delta-Logo.jpg' %}" style="margin-left: -10px; width:350px;height:75px;">
        <h2><a>Please Select Your Seat:</a></h2>
        <h3><a>Hover Over Seat To See Preferences</a></h3>
{% if seat_list %}
   <!--  <ul>
    {% for seat in seat_list %}
        <li>Seat: {{ seat.number }},
        {% if seat.profile %}
		Name: {{seat.profile.username}}, Talk: {{seat.profile.talk}}, Drink: {{seat.profile.drink}}, Sleep: {{seat.profile.sleep}}, Child: {{seat.profile.child}}</li>
		{% else %}
		Not Taken </li>
		{% endif %}
    {% endfor %}
    </ul> -->
    <ul>
    	{% for seat in seat_list%}
    			<button type="button" class="btn {% if profile %} btn-warning {% else %} {% if rec_list.number == 1.0 %} btn-primary {% elif rec_list.number == .75 %} btn-sceondary {% endif %} {% endif %}" title = "{% if profile %} Talk: {{profile.talk}}, Drink: {{profile.drink}}, Sleep: {{profile.sleep}}, Child: {{profile.child}} {% endif %}">
                    {% with n=seat.number %}
    				{{ seat.number}} Match: {{rec_list.n}}
                    {% endwith %}
    			</button>
                {% if seat.number|divisibleby:"5" %}
                    </br>
                {% endif %}
    	{% endfor %}
    </ul>
{% else %}
<h1>NO SEAT INFORMATION</h1>
{% endif %}
<!--{% if rec_list %}
    <ul>
        {% for rec, match in rec_list.items %}
        <li>Seat {{rec}}: {{match}}%</li>
        {% endfor %}
    </ul>
{% endif %}!-->
</body>